<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>
  <mat-form-field appearance="outline" style="width: 100%; margin-top: 10px;">
    <mat-label>{{ data.label }}</mat-label>
    <input matInput [(ngModel)]="value" cdkFocusInitial (keyup.enter)="dialogRef.close(value)">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">ביטול</button>
  <button mat-flat-button color="primary" (click)="dialogRef.close(value)" [disabled]="!value">
    שמור
  </button>
</mat-dialog-actions>